# Virtual Environment
venv/
.venv/
bin/
lib/
share/
include/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build Tools & AppImage data
appimagetool
linuxdeploy
linuxdeploy-plugin-python.sh
Photoshop.AppDir/
*.AppImage

# Wine Source (if you want to keep it out of git)
wine-adobe-installers-fix-dropdowns/

# Local configuration
pstux_icon_raw.png
version_configs.json.bak
python-standalone.tar.gz
